* {
	margin: 0;
	padding: 0;
	cursor: var(--cursor);
}

html,
body {
	overflow-x: hidden;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;

	background-color: #090e11;

	display: flex;

	flex-direction: column;

	overflow-x: hidden;
}

#wrapperPage {
	transition: transform 1000ms var(--custom-bezier-curve);
}

main {
	position: relative;
	width: 100vw;
	height: 100vh;

	display: flex;
}

main > div {
	position: relative;
	margin: auto;
	margin-left: 20%;
}

.title {
	color: white;
	z-index: 2;

	overflow: hidden;
	max-width: 600px;

	transition: margin-top 2s var(--custom-bezier-curve),
		margin-bottom 2s var(--custom-bezier-curve),
		margin-left 2s var(--custom-bezier-curve),
		margin-right 2s var(--custom-bezier-curve),
		font-size 1s var(--custom-bezier-curve);
}

.title h1 {
	font-family: "Merriweather", serif;

	font-size: 5em;
	transform: translateX(-100%);
	transition: transform 1s 250ms var(--custom-bezier-curve);
	filter: drop-shadow(0 0 5px #000);
}

.title h2 {
	font-size: 2em;
	margin-top: 10px;
	transform: translateX(-100%);
	transition: transform 1s 750ms var(--custom-bezier-curve);
}

.title h1:hover ~ .mainDivision {
	width: 100%;
}

.title h2:hover ~ .mainDivision {
	width: 50%;
	margin-left: 50%;
}

#sendEmail {
	width: max-content;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.pageActive .title h1,
.pageActive .title h2 {
	transform: translateX(0%);
}
.card {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 0;

	width: 45vw;
	height: 80vh;

	opacity: 0;

	transform-style: preserve-3d;
	transform: translate(100%, -50%) scale(0.7);

	transition: opacity 1s var(--custom-bezier-curve),
		transform 2s var(--custom-bezier-curve),
		margin-left 2s var(--custom-bezier-curve),
		width 1s var(--custom-bezier-curve),
		height 1s var(--custom-bezier-curve);
}

.card > div {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	overflow: hidden;

	border: 2px solid #21d69a;
}

.pageActive .card {
	opacity: 0.8;
	transform: translate(60%, -50%) scale(1);
}

.pageActive .card.isClickable:hover {
	opacity: 1;
	transform: translate(60%, -50%) scale(1.05);
}

.card > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pageActive .card > div:before,
.pageActive .card > div:after {
	width: 0%;
}

.pageActive .card > div:before {
	margin-left: 100%;
}

.accessPage .title {
	margin-left: 7%;
}

.accessPage .card {
	width: 50vw;
	height: 100vh;
	margin-left: 0;
	opacity: 1;
	transform: translate(100%, -50%);
}
.accessPage .card.isClickable:hover {
	opacity: 1;
	transform: translate(100%, -50%);
}

.accessPage .card > div {
	border: none;
}

.content {
	width: 100%;
	height: 1000px;
	background-color: #0a1516;
}

body #formID {
	transform: translateX(-100%);
}

@media (max-width: 1200px) {
	body {
		font-size: 12px;
	}

	body header {
		transform: translateY(0);
	}

	.title{
		margin-left: 5%;
		margin-right: 5%;
	}

	main.accessPage > .card {
		margin: 0;
	}

	main > .card{
		margin-left: 20%;
	}

	body #scrollMore {
		bottom: 10px;
		left: 50%;
		right: auto;
		transform: translateX(-50%);

		animation: floatingVertical 2s infinite ease;

		transition: animation-duration 2s ease-in,
			bottom 500ms var(--custom-bezier-curve);
	}

	#scrollMore span {
		position: absolute;
		top: -1em;
		left: 50%;
		transform: translateX(-50%) scale(0);
		transform-origin: bottom center;
	}

	body #scrollMore.scrollMoreHidden {
		bottom: -10%;
	}
}

@media (max-width: 800px) {
	.title {
		margin: 0 10vw;
		margin-top: 55vh;
		font-size: 0.9em;
	}

	.title h1{
		font-size: 4em;
	}

	.accessPage .title {
		font-size: 1em;
		margin: auto;
		margin-left: 5%;
		margin-right: 5%;
	}

	.accessPage .title h1{
		font-size: 5em;
	}

	main > .card {
		margin: 0;
	}
}
