#cursor {
	position: absolute;

	pointer-events: none;

	width: 80px;
	height: 80px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: hsla(160, 73%, 48%, 0.2);
	border: 2px solid #21d69a;

	opacity: 0.2;

	z-index: 10;

	transition: opacity 200ms var(--custom-bezier-curve),
		transform 200ms var(--custom-bezier-curve),
		border-radius 200ms var(--custom-bezier-curve);
}

#cursor.cursorOnLink {
	transform: translate(-50%, -50%) scale(0.7) rotate(90deg);
	opacity: 1;
	border-radius: 50%;
}

#cursor.cursorClick {
	transform: translate(-50%, -50%) scale(0.5) rotate(90deg);
	opacity: 0.7;
	border-radius: 50%;
	background-color: hsla(354, 92%, 66%, 0.2);
	border: 2px solid #f85969;
}

#cursor.cursorMobile{
	opacity: 0;
}
#cursor.cursorMobile.cursorClick {
	opacity: 1;
}