header {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	width: calc(100% - 40px);

	padding: 20px 30px;

	display: flex;
	align-items: center;
	gap: 20px;
}

#headerLogo {
	margin-right: auto;
}

#headerLogo img {
	height: 40px;
	filter: invert(1);
	opacity: 0.5;

	transition: opacity 0.2s var(--custom-bezier-curve);
}

#headerLogo:hover img,
#headerLogo:focus img {
	opacity: 1;
}

#hamburguerMenu {
	width: 50px;
	height: 22px;

	padding: 15px;

	transform: scale(1);

	position: relative;

	transition: transform 300ms var(--custom-bezier-curve);
}

#hamburguerMenu:hover {
	transform: scale(1.2);
}

#hamburguerMenu:after,
#hamburguerMenu:before {
	content: "";
	position: absolute;

	width: 75%;
	height: 3px;

	left: 50%;
	transform: translateX(-50%);

	transform-origin: 30%;
	margin: 0 auto;

	background-color: rgba(255, 255, 255, 0.5);

	transition: transform 0.4s var(--custom-bezier-curve),
		background-color 0.4s var(--custom-bezier-curve);
}

#hamburguerMenu:hover:after,
#hamburguerMenu:hover:before {
	background-color: white;
}

#hamburguerMenu:after {
	bottom: 30%;
}

#hamburguerMenu:before {
	top: 30%;
}

#hamburguerMenu.headerMenuActive::after {
	transform: translateX(-45%) rotate(-45deg);
	background-color: #f85969;
}

#hamburguerMenu.headerMenuActive::before {
	transform: translateX(-45%) rotate(45deg);
	background-color: #f85969;
}

#menu {
	position: fixed;
	z-index: 9;

	width: 100vw;
	height: 100vh;
	transform: translateY(-100%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;

	background: linear-gradient(#1a1a1a, #001);

	transition: transform 750ms var(--custom-bezier-curve);
}

#menu.menuShow {
	transform: translateY(0%);
}

.menuItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	opacity: 0;

	color: white;
	font-size: 4em;
	font-weight: bold;
	text-decoration: none;

	-webkit-background-clip: text;
	background-clip: text;

	background-image: linear-gradient(90deg, #08acae, #13974a, #08acae);

	background-size: 200%;
	background-position: 0%;

	animation: textGradientAnimation 1s infinite;
	transition: color 300ms ease, letter-spacing 300ms ease,
		opacity 300ms 650ms var(--custom-bezier-curve);
}

.menuItem:nth-child(2) {
	transition: color 300ms ease, letter-spacing 300ms ease,
		opacity 300ms 750ms var(--custom-bezier-curve);
}

.menuItem:nth-child(3) {
	transition: color 300ms ease, letter-spacing 300ms ease,
		opacity 300ms 850ms var(--custom-bezier-curve);
}

.menuItem:nth-child(4) {
	transition: color 300ms ease, letter-spacing 300ms ease,
		opacity 300ms 950ms var(--custom-bezier-curve);
}

#menu.menuShow .menuItem {
	opacity: 1;
}

.menuItem::after {
	content: "";

	width: 100%;
	height: 4px;

	position: absolute;
	left: 0;
	top: 0;

	background-color: white;

	transform: translateY(0px);
	transition: transform 300ms ease;
}

.menuItem i {
	font-size: 0.7em;
}

.menuItem:hover,
.menuItem:focus {
	color: rgba(255, 255, 255, 0);
	letter-spacing: 0.1em;
	padding-left: 0.1em;
}

.menuItem:hover::after,
.menuItem:focus::after {
	transform: translateY(1em);
	background-image: linear-gradient(90deg, #08acae, #13974a, #08acae);
}


@media (max-width: 1200px) {
	header{
		bottom: 0;
		top: auto;	
	}
	#menu .menuItem {
		font-size: 3em;
	}

	#menu .menuItem:after {
		height: 2px;
	}
}