@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(90deg, #121214, #313332);
	color: white;

	font-size: 16px;
	font-family: "Roboto", sans-serif;

	padding: 20px;

	display: flex;
	gap: 30px;
	flex-direction: column;
	align-items: center;

	overflow-x: hidden;
}

a {
	text-decoration: none;
}

footer {
	height: 70px;
}

#info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#info img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #05d4626e;

	transition: width 300ms ease, height 300ms ease;
}

#info img:hover {
	width: 170px;
	height: 170px;
}

#info h1 {
	font-size: 1.75em;
	text-align: center;
}

#info h2 {
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 400;
	color: #e9e9e9;
}

.section {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.section h2 {
	margin-bottom: 10px;

	font-size: 1.5em;
	font-weight: bold;

	color: #05d462;

	-webkit-background-clip: text;
	background-clip: text;

	background-image: linear-gradient(90deg, #42f6b1, #05d462, #42f6b1);

	background-size: 200%;
	background-position: 0%;

	animation: textGradientAnimation 2s infinite;

	color: transparent;
}

.section:nth-child(2) h2 {
	animation-delay: 0.5s;
}

.section:nth-child(3) h2 {
	animation-delay: 1s;
}

.section:nth-child(4) h2 {
	animation-delay: 1.5s;
}

.section:nth-child(5) h2 {
	animation-delay: 2s;
}

.section a {
	width: 100%;
	max-width: 800px;

	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: 0.1em;

	padding: 20px 0;
	margin: 10px 0;

	border-radius: 4px;

	background: rgba(255, 255, 255, 0.05);
	box-shadow: 5px 5px 10px #000a, -5px -5px 10px rgba(255, 255, 255, 0.103);
	color: #ffffff;

	transition: letter-spacing 200ms ease;
}

.section a:hover {
	box-shadow: inset 5px 5px 10px #0007, inset -5px -5px 10px #fff1;
	letter-spacing: 0.2em;
}

.wrapper {
	padding: 10px 20px;

	border-radius: 10px;

	background: rgba(255, 255, 255, 0.01);
	box-shadow: 5px 5px 10px #000a, -5px -5px 10px rgba(255, 255, 255, 0.103);
}

.social .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	text-align: center;
	flex-wrap: wrap;
}

.section.social a {
	flex: 1;
	background: none;
	border: none;
	box-shadow: none;

	color: white;

	font-size: 2em;

	padding: 0;
	margin: 0;

	transition: all 300ms ease;
}

.section.social a:hover {
	color: #05d462;
	margin: 0 10px;
}

#mainImage {
	position: fixed;
	top: 0;
	left: 50%;

	width: 100%;
	height: 100%;

	transform: translateX(-50%);

	z-index: -1;
}

#mainImage img {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translateX(50%);

	height: 100vh;
	filter: invert(1);

	opacity: 0;

	animation: moveLeftRight 5s infinite cubic-bezier(0.52, 0.18, 0.49, 0.84);
}

@keyframes moveLeftRight {
	from {
		transform: translateX(50%);
	}
	10% {
		/* opacity: 0; */
	}
	50% {
		opacity: 0.01;
	}
	to {
		transform: translateX(-140%);
		opacity: 0;
	}
}

@keyframes textGradientAnimation {
	from {
		background-position: 100%;
	}
	to {
		background-position: -100%;
	}
}
