.accessPage .title {
	margin-left: 7%;
}

.accessPage .card {
	width: 50vw;
	height: 100vh;
	margin-left: 0;
	opacity: 1;
	transform: translate(100%, -50%);
}

.accessPage .card > div {
	border: none;
}

@media (max-width: 800px) {
	.pageActive .card {
		width: 80vw;
		height: 40vh;
		transform: translate(10vw, -95%) scale(1);
	}
	
	.accessPage .card {
		margin-left: 0;
		width: 100vw;
		height: 35vh;
		transform: translate(0, -50vh) scale(1);
	}
}
