@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cl-principal: #17c069;
    --cl-dark-principal: #108649;
    --cl-background: #fff;
    --cl-text: #000;
    --cl-title: #fff;
    --cl-barra: #ebebeb;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: var(--cl-background);
    color: var(--cl-text);
    transition: .4s;
}

.dark-mode-bg {
    background-color: rgb(12, 12, 12);
}

.dark-mode-txt {
    color: var(--cl-background);
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    color: var(--cl-text);
    text-decoration: none;
    transition: .4s;
}

header {
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 200px;
}

header .contato {
    text-align: right;
}

header .contato h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cl-principal);
}

header .contato ul {
    font-size: 1rem;

}

.igorroc {
    background-color: var(--cl-principal);
    color: var(--cl-title);
    font-size: 3rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.topico {
    margin: 50px 0;
}

.titulo {
    background-color: var(--cl-principal);
    color: var(--cl-title);
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    margin-bottom: 20px;
}

.titulo img {
    margin: auto 0;
}

.descricao {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
}

.divisao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}

.separador {
    margin: 50px 0;
}

.barra {
    width: 300px;
    height: 20px;
    background-color: var(--cl-barra);
}

.completude {
    height: 100%;
    width: 0%;
    background-color: var(--cl-principal);
}


/* DARK MODE */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cl-principal);
    -webkit-transition: .4s;
    transition: .4s;
}
.moon{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 6px;
    background: url("./img/moon.svg") no-repeat;
}
.sun{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 34px;
    bottom: 6px;
    background: url("./img/sun.svg") no-repeat;
}
.slider:after {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 30px;
    bottom: 4px;
    background-color: var(--cl-text);
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: var(--cl-barra);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--cl-barra);
}

input:checked+.slider:after {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
    background-color: var(--cl-principal);
}


/* OPCOES */
.transi {
    transition: .4s;
}

.wd-10px {
    width: 10px;
}

.wd-20px {
    width: 20px;
}

.wd-30px {
    width: 30px;
}

.wd-50px {
    width: 50px;
}

.wd-200px {
    width: 200px;
}

.wd-25 {
    width: 25%;
}

.wd-50 {
    width: 50%;
}

.wd-60 {
    width: 60%;
}

.wd-75 {
    width: 75%;
}

.wd-80 {
    width: 80%;
}

.wd-85 {
    width: 85%;
}

.wd-90 {
    width: 90%;
}

.wd-95 {
    width: 95%;
}

.wd-100 {
    width: 100%;
}

.svg-green {
    filter: invert(27%) sepia(51%) saturate(3500%) hue-rotate(100deg) brightness(104%) contrast(97%);
}

.svg-white {
    filter: invert(100%);
}

.svg-gray {
    filter: invert(70%);
}

.cl-principal {
    color: var(--cl-principal);
}

/* RESPONSIVE */

@media screen and (max-width: 800) {

    /* For tablets: */
    #logo {
        width: 100%;
    }
}

@media screen and (max-width: 1100) {

    /* For smartphones: */
    #logo {
        width: 300px;
    }
}

/* SCROLL BAR */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--cl-dark-principal);
    /* border-radius: 20px; */
    border: 3px solid var(--cl-dark-principal);
  }