<footer id="footer" link_to="#insertFooterHere">
	<div class="footerSeparator"></div>
	<div id="footerInfo">
		<div id="footerLeft">
			<p>
				This website was developed using only vanilla JavaScript. No
				frameworks, no animation library. Why that? IDK...
			</p>
			<p>&copy; 2021 all rights reserved</p>
		</div>
		<a href="./index.html" id="footerCenter" class="isClickable">
			<img src="./img/logo.png" />
		</a>
		<div id="footerRight">
			<div id="footerContact">
				<a class="isClickable" href="tel:5573988089810">
					+55 (73) 9 8808-9810 <i class="fas fa-phone"></i>
				</a>
				<a class="isClickable" href="mailto:igor_roc@hotmail.com.br">
					igor_roc@hotmail.com.br
					<i class="fa fa-envelope"></i>
				</a>
			</div>
			<div id="footerWrapperSocial">
				<a
					href="http://instagram.com/igor.roc"
					target="_blank"
					class="footerSocial isClickable"
				>
					<i class="fab fa-instagram"></i>
				</a>
				<a
					href="http://github.com.com/igorroc"
					target="_blank"
					class="footerSocial isClickable"
				>
					<i class="fab fa-github"></i>
				</a>
				<a
					href="https://codepen.io/igorroc"
					target="_blank"
					class="footerSocial isClickable"
				>
					<i class="fab fa-codepen"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
