<div id="formID" link_to="#insertFormHere">
	<div>
		<button id="closeForm" class="isClickable">
			<i class="fas fa-times"></i>
		</button>
		<div id="formTitle">
			<h3>Entre em <b>contato</b></h3>
			<p>
				Me envie uma mensagem no email, para que possamos fazer o seu
				<b>projeto dos sonhos</b> se tornar <b>real!</b>
			</p>
		</div>
		<div id="formContent">
			<form
				action="https://formsubmit.co/643e7a33d18dbb4d90b3084670b81bd3"
				method="POST"
			>
				<div class="question">
					<label for="name">1. Primeiro nome:</label>
					<input
						type="text"
						id="name"
						name="name"
						min="3"
						class="isTextInput"
						required
					/>
				</div>
				<div class="question">
					<label for="email">2. Seu email:</label>
					<input
						type="email"
						id="email"
						name="email"
						class="isTextInput"
						required
					/>
				</div>
				<div class="question">
					<label for="message">3. Escreva sua mensagem:</label>
					<textarea
						name="message"
						id="message"
						cols="30"
						rows="5"
						class="isTextInput"
					></textarea>
				</div>
				<input type="hidden" name="_next" value="./thanks.html" />
				<button
					class="semiTransparentButton isClickable"
					type="submit"
					id="submit"
				>
					<i class="fas fa-envelope"></i> Vamos lá!
				</button>
			</form>
		</div>
	</div>
</div>
